<!-- <header fxLayoutAlign="space-between center">
    <div class="brand">ECommerce</div>
    <div class="searchproduct"><input class="searchbar" type="text" placeholder="Search Products"/></div>
    <div class="navs" fxLayout="row" fxLayoutGap="20px">
        <a routerLink="/">Home</a>
        <a routerLink="/posts">Posts</a>
        <a routerLink="/login">Login</a>
        <a routerLink="/controlcenter/dashboard">Admin</a>
    </div>
</header> -->


<header >
  <div class="sub-container">
    <div class="brand">
      <label>Comfee</label>
    </div>
  </div>
  <div class="sub-container">
  <div class="search-container">
    <i class="fa fa-search search-ico"></i>
    <input class="searchbar" type="text" placeholder="Search Products"/></div>
  </div>
  <div class="sub-container">
    <div class="cart-ico">
      <i class="fas fa-shopping-cart"></i>
    </div>
    <div class="user-ico">
      <i class="fas fa-user-circle"></i>
    </div>
  </div>

</header>
