<div class="container">
  <div class="top">
      <div class="center">
        <h2>Log in</h2>
        <form (ngSubmit)="onSubmit()">
          <input type="email" placeholder="Email" />
          <input type="password" placeholder="Password" />
          <button class="mr-button color-normal" type="submit"> Submit </button>
          <button class="mr-button color-google"> Google </button>
          <button class="mr-button color-facebook"> Facebook </button>
          <div class="signup-forgotPassword-container">
              <button class="mr-anchor">Signup</button>
              <button class="mr-anchor">Forgot Password</button>
          </div>
      </form>
      </div>
  </div>
</div>

